#head{
	background-image: url(shakes.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	padding-top: 7%;
}

.i{
	color: white;
	font-family: 'Cabin', sans-serif;
	font-size: 45px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 3px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}